/* html body tag style */
body {
  background-color: #aaa;
  margin: 0px;
  padding: 0px;
}

/* h1 tag style */
h1 {
  margin: 0px;
  padding: 0px;
  font-family: arial;
  font-size: 140%;
  color: #ffffff;
}

#wrapper {
	background: silver;
	width: 800px;
	margin: 0 auto;
}

#header {
  padding: 1em;
}
#footer {
  padding: 1em;
  clear: both;
}

#left-column {
	background: green;
	width: 640px;
	float: left;
}
 
#right-column {
	background: teal;
	width: 160px;
	margin-left: 640px;
}

#turtles {
  background-color: #040;
}
